{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "jsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": true,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "optimizer": {
        "simplify": true
      }
    }
  },
  "sourceMaps": true
}
